.SCENES {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  .SCENE {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;

    &.show {
      opacity: 1;
    }

    &.SCENE-SM {
      visibility: hidden;
    }

    @media (max-width: 768px) {
      &.SCENE-LG {
        visibility: hidden;
      }
      &.SCENE-SM {
        visibility: visible;
      }
    }
  }
  .caption-container {
    .caption-wrapper {
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }

    .cont {
      transition: opacity 0.1s ease;
      &.show {
        opacity: 1;
      }

      .sm {
        display: none;
      }

      @media (max-width: 768px) {
        .sm {
          display: inline-block;
        }

        .lg {
          display: none;
        }
      }
    }
  }
}
